.header-container{
  background-color: #000f;
  height: 36px;
  padding : 10px 30px;
  }
.login-btn{
  float: right;
}
.book-ticket-btn{
  float: right;
  margin-right: 10px;
}
.app-logo {
animation: app-logo-spin infinite 7s linear;
height: 40px;
}

@keyframes app-logo-spin {
from { transform: scaleX(-1); }
}
.tabs{
  margin-bottom: 10%;
}
.dispNone{
  display: none;
}
.dispBlock{
  display: block;
}
.register-success{
  font-size: 0.3cm;
}