.back-btn{
  font-weight: 500;
  margin: 20px;
  cursor: pointer;
  text-align: center;
}
.form-control{
  width: 240px;
  text-align: left;
}
.left{
  text-align: left;
}
/* UpGrad */

.bookTicket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.cardStyle {
    padding: 32px 64px 32px 64px;
    margin: auto;
    text-align: center;

}

.marginTop16 {
    margin-top: 16px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
    color: red;
}

